body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
    background-color:rgb(255, 202, 185)
}

.recipes {
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 80px 150px ;
    display:  flex;
    flex-direction: column;
    list-style: none;
    border-radius: 20px;
    border: solid 4px rgb(89, 158, 213);
    background-color: rgb(89, 158, 213);
}

.recipes ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

}
.recipes li{

    list-style: none;

}

.recipes li a{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-decoration: none;
    font-size: large;
}
